<section class="d-flex flex-column min-vh-100">
  <div class="d-flex m-auto shadow-lg p-5 flex-column w-75">
    <h2 class="mb-3">Abra sua conta</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render partial: 'client_registration_form', locals: { f: f } %>

      <div class="actions">
        <%= f.submit "Abrir conta", class: 'w-100 btn btn-lg btn-primary fw-bolder mt-2' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
