<section>
  <% if client_signed_in? %>
  <div>
    <p>Olá <%= current_client.name %> | Agência: Conta:</p>
  </div>
  <% end %>
  <h2>Selecione uma opção:</h2>
  <% unless client_signed_in? %>
    <div class="d-flex align-self-center justify-content-center">
      <%= link_to 'Sou cliente', '#', class: "btn btn-outline-primary py-2 m-3" %>
      <%= link_to 'Abrir conta', new_client_registration_path, class: "btn btn-outline-primary py-2 m-3" %>
    </div>
  <% end %>
</section>
