<section class="">
  <h2>Selecione uma opção:</h2>

  <div class="d-flex align-self-center justify-content-center">
    <%= link_to 'Sou cliente', "#", class: "btn btn-outline-primary py-2 m-3" %>
    <%= link_to 'Abrir conta', "#", class: "btn btn-outline-primary py-2 m-3" %>
  </div>
</section>
