<div class="field form-floating">
  <%= f.number_field :amount, autofocus: true, autocomplete: 'amount', class: 'form-control mb-2', placeholder: ' ', step: 1 %>
  <%= f.label :amount %><br />
</div>
