<h2 class="mb-4">Selecione uma opção:</h2>
<div class="row g-2">
  <div class="col-lg-6">
    <%= link_to 'Sou cliente', new_client_session_path, class: 'btn btn-outline-primary py-2 w-100' %>
  </div>

  <div class="col-lg-6">
    <%= link_to 'Abrir conta', new_client_registration_path, class: 'btn btn-outline-primary py-2 w-100' %>
  </div>
</div>
